<!-- views/partials/navbar.handlebars 
Alumno: Alessio (Elazar) Pimentel -->
<header>
  <nav>
    <a href="/">Inicio</a>
    <a href="/products">Productos</a>
    <a href="/realtimeproducts">Productos en Tiempo Real</a>
    <a href="/cart">Carrito</a>
  </nav>
</header>
