<!-- views/cart.handlebars 
Alumno: Alessio (Elazar) Pimentel -->

<h1>Carrito</h1>
{{#if cart}}
  <ul>
    {{#each cart.products}}
      <li>Producto ID: {{this.productId}} - Cantidad: {{this.quantity}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>Carrito vacío.</p>
{{/if}}
