<!-- views/home.handlebars 
Alumno: Alessio (Elazar) Pimentel -->

<h1>Listado de Productos</h1>
<div id="product-list">
  {{#each products}}
    <div class="product-item">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
    </div>
  {{/each}}
</div>
