{{!-- views/home.handlebars --}}
{{!-- Alumno: Alessio (Elazar) Aguirre Pimentel --}}

{{#extend "main"}}
    {{#content "body"}}
        <h2>Bienvenido a Pata-Pata Petstore</h2>
        <p>Explorá nuestros productos para tus mascotas.</p>
    {{/content}}
{{/extend}}
