{{!-- views/products.handlebars 
Alumno: Alessio (Elazar) Aguirre Pimentel --}}

<h1>Listado de Productos</h1>
<div id="product-list">
  {{#each products}}
    <div class="product-item">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
      <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    </div>
  {{/each}}
</div>
<script src="/index.js"></script>
